In [2]:
import pandas as pa

T = pa.read_csv(r'C:\Users\julia\Documents\python36\datasource\data\tennis.csv')
T.head()

  match     id  année  P_gagnant_début  P_gagnant_fin perdant gagnant
0    M1  pari1   2009         0.560000       0.537634      J1      J2
1    M1  pari2   2009         0.572917       0.552632      J1      J2
2    M1  pari3   2009         0.568123       0.563910      J1      J2
3    M1  pari4   2009         0.608696       0.589005      J1      J2
4    M2  pari5   2009         0.543011       0.555256      J2      J3

In [3]:
len(T)

126461

In [8]:
T['var_gagnant'] = T['P_gagnant_fin'] - T['P_gagnant_début']
T.head()

,match,id,année,P_gagnant_début,P_gagnant_fin,perdant,gagnant,var_gagnant
0,M1,pari1,2009,0.560000,0.537634,J1,J2,-0.022366
1,M1,pari2,2009,0.572917,0.552632,J1,J2,-0.020285
2,M1,pari3,2009,0.568123,0.563910,J1,J2,-0.004214
3,M1,pari4,2009,0.608696,0.589005,J1,J2,-0.019690
4,M2,pari5,2009,0.543011,0.555256,J2,J3,0.012245

In [9]:
PMS = T.query('var_gagnant >= 0.1 or var_gagnant <= -0.1')

In [13]:
MS = PMS.drop_duplicates(subset ='match')
MS.head()

,match,id,année,P_gagnant_début,P_gagnant_fin,perdant,gagnant,var_gagnant
173,M64,pari175,2009,0.704312,0.582090,J67,J68,-0.122223
179,M66,pari181,2009,0.631206,0.500000,J68,J70,-0.131206
343,M130,pari346,2009,0.391304,0.500000,J93,J125,0.108696
450,M171,pari454,2009,0.621103,0.500000,J156,J103,-0.121103
464,M176,pari469,2009,0.500000,0.386768,J100,J10,-0.113232

In [14]:
len(PMS)

4298

In [15]:
MPS_J1 = MS.query('perdant == "J1" and var_gagnant >0')
MPS_J1

,match,id,année,P_gagnant_début,P_gagnant_fin,perdant,gagnant,var_gagnant
9546,M2815,pari9650,2010,0.463807,0.608696,J1,J44,0.144889
18162,M4695,pari18467,2010,0.570292,0.697674,J1,J34,0.127383
18922,M4851,pari19251,2010,0.688073,0.796460,J1,J24,0.108387
19729,M5017,pari20066,2010,0.540541,0.656098,J1,J15,0.115557
22716,M5648,pari23096,2011,0.345588,0.500000,J1,J142,0.154412
28107,M6945,pari28659,2011,0.250000,0.354680,J1,J66,0.104680
29254,M7209,pari29814,2011,0.421053,0.525606,J1,J15,0.104554
33296,M8137,pari33945,2011,0.410995,0.589005,J1,J225,0.178010
33992,M8292,pari34651,2011,0.578947,0.717391,J1,J176,0.138444
35898,M8736,pari36593,2011,0.578947,0.689655,J1,J143,0.110708
37633,M9135,pari38365,2012,0.477212,0.651106,J1,J88,0.173894
37974,M9212,pari38707,2012,0.486486,0.625000,J1,J229,0.138514
48026,M11487,pari49043,2012,0.421053,0.584416,J1,J281,0.163363
54070,M12806,pari55217,2012,0.510204,0.646512,J1,J348,0.136308
54944,M13003,pari56101,2012,0.551899,0.677852,J1,J307,0.125954

In [17]:
np = len(MPS_J1)
np

15

In [22]:
MGS_J1 = MS.query('gagnant == "J1" and var_gagnant <0')
MGS_J1

,match,id,année,P_gagnant_début,P_gagnant_fin,perdant,gagnant,var_gagnant
12053,M3356,pari12208,2010,0.624365,0.494565,J54,J1,-0.129800
34344,M8381,pari35012,2011,0.384615,0.235867,J153,J1,-0.148748
34742,M8471,pari35413,2011,0.494681,0.394402,J32,J1,-0.100279

In [20]:
LP = list(MPS_J1['P_gagnant_début'])
LP

[0.463806970509,
 0.5702917771880001,
 0.6880733944949999,
 0.540540540541,
 0.345588235294,
 0.25,
 0.421052631579,
 0.410994764398,
 0.578947368421,
 0.578947368421,
 0.477211796247,
 0.486486486486,
 0.421052631579,
 0.510204081633,
 0.551898734177]

In [23]:
LG = []
for p in MGS_J1['P_gagnant_début']:
    LG.append(1 - p)
LG

[0.375634517766, 0.615384615385, 0.505319148936]

In [29]:
ng = len(MGS_J1)
ng

3

In [28]:
N = np + ng
N

18

In [30]:
L = LP + LG

In [31]:
from random import random
c = 0
for i in range(100000):
    perdus = 0
    for j in range(18):
        if random() <= L[j]:
            perdus += 1
    if perdus >= 15:
        c += 1
f = c / 100000
f

0.00245

# Fraud

In [35]:
def perdus(joueur):
    MPSJ = MS.query('perdant == @joueur and var_gagnant>0')
    return list(MPSJ['P_gagnant_début'])

In [36]:
perdus('J1')

[0.463806970509,
 0.5702917771880001,
 0.6880733944949999,
 0.540540540541,
 0.345588235294,
 0.25,
 0.421052631579,
 0.410994764398,
 0.578947368421,
 0.578947368421,
 0.477211796247,
 0.486486486486,
 0.421052631579,
 0.510204081633,
 0.551898734177]

In [38]:
def gagnés(joueur):
    MGSJ = MS.query('gagnant == @joueur and var_gagnant<0')
    LG = []
    for p in MGSJ['P_gagnant_début']:
        LG.append(1-p)
    return LG

In [39]:
gagnés('J1')

[0.375634517766, 0.615384615385, 0.505319148936]

In [44]:
import random

def vraisemblance(joueur):
    LP = perdus(joueur)
    LG = gagnés(joueur)
    L = LP + LG
    N = len(L)
    n = len(LP)
    
    c = 0
    for i in range(100000):
        m_perdus = 0
        for j in range(N):
            if random.random() <= L[j]:
                m_perdus = m_perdus + 1
        if m_perdus >= n:
            c += 1
    return c / 100000

In [45]:
vraisemblance('J1')

0.00197

In [62]:
R = list(MS['perdant']) + list(MS['gagnant'])
L = []
for joueur in R:
    if joueur not in L:
        L.append(joueur)

LJS=[joueur for joueur in L if R.count(joueur)>=10]

In [63]:
L = []
for joueur in LJS:
    v = vraisemblance(joueur)
    if v <= 0.05:
        L.append((joueur, v))
L

[('J67', 0.00012),
 ('J118', 0.02477),
 ('J84', 0.01616),
 ('J104', 0.00041),
 ('J243', 0.00019),
 ('J1', 0.00182),
 ('J102', 0.03991),
 ('J341', 0.01101),
 ('J310', 0.00555),
 ('J99', 0.04619),
 ('J15', 0.00571),
 ('J43', 0.03364),
 ('J124', 0.04143),
 ('J136', 0.03388),
 ('J177', 0.0187),
 ('J259', 0.02158),
 ('J108', 0.00271),
 ('J5', 0.00782),
 ('J112', 0.04939),
 ('J299', 0.00026),
 ('J295', 0.03287),
 ('J327', 0.02784)]

In [64]:
len(L)

22

In [66]:
len(L)/1523

0.014445173998686802